<html>
	<head>
		<link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'></link>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/static/stylesheets/style.css'></link>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">
						TripPlanner
					</a>
				</div>
			
			<ul class="nav navbar-nav nav-inline">
				<li class="nav-item"><a href="/">Home</a></li>
				<li class="nav-item"><a href="/about">About</a></li>
				<li class="nav-item"><a href="/contact">Contact</a></li>
			</ul>
			</div>
		</nav>
		{% block content %}
		{% endblock %}

	</body>
</html>